{% extends 'base.html' %}
{% load static %}

{% block title %}Login - Task Management{% endblock %}
{% block body_class %}auth-bg{% endblock %}

{% block content %}

<style>
    /* .auth-bg {
        background-image: url("{% static 'images/presentation.jpg' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
    } */

     /* .auth-bg {
    background-image: url("{% static 'images/presentation.jpg' %}");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000; /* optional filler color */
    /* min-height: 100vh; */
/* } */ 
.auth-bg {
    background-image: url("{% static 'images/presentation.jpg' %}");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}


</style>

<div class="container mt-5">
  <div class="login-page">
  <div class="form">
    <!-- <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form> -->
    <!-- <h2>Reset Password (No Email)</h2>-->

<p style="color:red">{{ message }}</p>
    <form class="pass-form" method="post" novalidate>
        {% csrf_token %}
       
         
       
        Email: <input type="text" name="email" required><br>
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}

        {% for fm in form %}
            {{ fm.label_tag }} {{ fm }} {{ fm.error|striptags }} <br><br>
        {% endfor %}

            <!-- {{ form.as_p }} -->
        <button type="submit">Reset</button>

        <!-- <input type="submit" value="save"> -->
                
      
    </form>
  </div>
</div>
</div>

{% endblock %}
