{% extends 'base.html' %}
{% load static %}
{% block title %}Register - Program Management{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="card shadow">
    <div class="card-header bg-primary text-white">
      <h2 class="mb-0">Registration</h2>
    </div>
    <div class="card-body">
      <form id="signupForm" method="post" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        <!-- first name -->
        <div class="mb-3">
          <label for="first_name" class="form-label">First Name</label>
          <input type="text" class="form-control" name="first_name" id="first_name" required onblur="validateUser()" oninput="clearError('fname_error')">
          <div id="fname_error"></div>
        </div>
        <!-- last name -->
        <div class="mb-3">
          <label for="last_name" class="form-label">Last Name</label>
          <input type="text" class="form-control" name="last_name" id="last_name" required onblur="validateUser()" oninput="clearError('lname_error')">
          <div id="lname_error"></div>
        </div>
        <!-- bio -->
        <div class="mb-3">
          <label for="bio" class="form-label">Bio</label>
          <textarea type="text" class="form-control" name="bio" id="bio"   placeholder="Type short bio" required onblur="validateUser()" oninput="clearError('bio_error')"></textarea>
          <div id="bio_error"></div>
        </div>
        <!-- username -->
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" id="username" required  onblur="validateUser()" oninput="clearError('username_error')">
          <div id="username_error"></div>
        </div>
        <!-- email -->
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" id="email" required value="@gmail.com" onblur="validateUser()" oninput="clearError('email_error')">
          <div id="email_error"></div>
        </div>
        <!-- yop -->
        <div class="mb-3">
          <label for="yop" class="form-label">YOP</label>
          <input type="number" class="form-control" name="yop" id="yop"  onblur="validateUser()" oninput="clearError('yop_error')">
          <div id="yop_error"></div>
        </div>
        <!-- age -->
        <div class="mb-3">
          <label for="age" class="form-label">Age</label>
          <input type="number" class="form-control" name="age" id="age" required  onblur="validateUser()" oninput="clearError('age_error')">
          <div id="age_error"></div>
        </div>

        <!-- doj -->
        <div class="mb-3">
          <label for="date" class="form-label">Date of Join</label>
          <input type="text" class="form-control" name="date" id="date" required value="yyyy-mm-dd" onblur="validateUser()" oninput="clearError('date_error')">
          <div id="date_error"></div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="password" required value="Qwerty@1" onblur="validateUser()" oninput="clearError('password_error')">
          <div id="password_error"></div>
        </div>

        <div class="mb-3">
          <label for="password_confirm" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" name="password_confirm" id="password_confirm" required value="Qwerty@1" onblur="validateUser()" oninput="clearError('confirm_error')">
          <div id="confirm_error"></div>
        </div>
        <!-- selected role -->
         {% if user == 'manager' %}
            <div class="mb-3">
              <label for="role" class="form-label">Role</label>
                <input type="text" class="form-control" name="role" id="role" value="{{ user }}" readonly>
            <div id="role_error"></div>
            </div>

            <div class="mb-3">
              <label for="designation" class="form-label">Designation</label>
              <!-- <input type="text" class="form-control" name="designation" id="designation" required value="****" onblur="validateUser()" oninput="clearError('designation_error')"> -->
              <select class="form-select"name="designation" id="designation"  onblur="validateUser()" oninput="clearError('designation_error')">
                <option value="">****</option>
                <option value="IT Manager">IT Manager</option>
                <option value="Assistant Manager">Assistant Manager</option>
                <option value="Team Lead">Team Lead</option>
              </select>
            <!-- <div id="designation_error"></div> -->

            </div>
        {% elif user == 'employee' %}
            <div class="mb-3">
              <label for="role" class="form-label">Role</label>
                <input type="text" class="form-control" name="role" id="role" value="{{ user }}" readonly>
            <div id="role_error"></div>
            </div>

            <div class="mb-3">
              <label for="designation" class="form-label">Designation</label>
              <!-- <input type="text" class="form-control" name="designation" id="designation" required value="****" onblur="validateUser()" oninput="clearError('designation_error')"> -->
              <select class="form-select"name="designation" id="designation"  onblur="validateUser()" oninput="clearError('designation_error')">
                <option value="">****</option>
                <option value="Junior Frontend developer">Junior Frontend developer</option>
                <option value="Senior Frontend developer">Senior Frontend developer</option>
                <option value="Junior Frontend developer">Junior backend developer</option>
                <option value="Senior backend developer">Senior backend developer</option>
                <option value="Backend(Node js) developer">Backend(Node js) developer</option>
                <option value="Backend(Django) developer">Backend(Django) developer</option>
                <option value="Frontend(React js) developer">Frontend(React js) developer</option>
                <option value="Android developer">Android developer</option>
                <option value="UI UX">UI UX</option>
                <option value="Digital Marketing">Digital Marketing</option>
              
              </select>
            <!-- <div id="designation_error"></div> -->

            </div>
        {% endif %}
        <!-- end -->

          <!-- image -->
        <div class="form-group">
            <label for="image">Image:</label>
            <input type="file" class="form-control" id="user_image" name="user_image" accept="image/*" onblur="validateUser()" oninput="clearError('image_error')">
            <img id="imagePreview" src="" alt="Preview" style="max-width: 100px; display: none; margin-top: 5px;">
            <div id="image_error"></div>
        </div>
        
        <!-- gender -->
        <div class="mb-3">
          <label for="gender" class="form-label">Gender</label>
          <select class="form-select" name="gender" id="gender"required>
            <option value=""></option>
            <option value="male">male</option>
            <option value="Female">female</option>
          </select>
           <!-- <div id="role_error"></div> -->
        </div>

        <!-- Acknowledge Message -->
        <div id="acknowledge" class="mt-3 fw-semibold" style="display:none;"></div>
        <button type="submit" class="btn btn-success" id="signup_btn" disabled>Register</button>
      </form>
    </div>
  </div>
</div>

<!-- Spinner Overlay -->
<div id="spinner-overlay" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,0.7); z-index:9999; text-align:center;">
  <div class="spinner-border text-primary" role="status" style="position:relative; top:40%; width: 4rem; height: 4rem;">
    <span class="visually-hidden">Loading...</span>
  </div>
  <!-- <p class="fw-semibold text-dark mt-3">Sending verification email...</p> -->
</div>
{% endblock %}
