    <!-- Sidenav -->
    <div class="sidenav">
        <div class="profile">
            <img src="{{ user.image.url }}" alt="" width="150" height="150">

            <div class="name">
                {{ user.username }}
            </div>
            <div class="job">
               {{ user.designation }}
            </div>
        </div>

        <div class="sidenav-url">
            <div class="url">
                <a href="{% url 'user_profile' %}" class="active">Profile</a>
                <hr align="center">
            </div>
            <!-- {% if user.role == 'employee' %}
            <div class="url">
                myTodo
                <hr align="center">
            </div>
            {% endif %} -->
             {% if user.role == 'employee' %}
            <!-- <div class="url">
               view_alloted_task
                <hr align="center">
            </div> -->
            {% endif %}
            
            
            

             <div class="url">
                <a href="{% url 'dashboard' %}">Dashboard</a>
                <hr align="center">
            </div>

            <div class="url">
            {% if user.role == 'manager' %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" >Employees </a>
                    <ul class="dropdown-menu" >
                        
                        <li>
                            <a class="dropdown-item" href="{% url 'employee_list' %}">All employees</a>
                        </li>
                        <!-- <li>
                            <a class="dropdown-item" href="/">top employees</a>
                        </li> -->
                      
                        
                    </ul>
                </li>
            <hr align="center">
            {% endif %}
           
            </div>

            <div class="url">
            
               <a href="{% url 'list_projects' %}">Projects</a>
                <hr align="center">
           
            
           
            </div>

             <!-- <div class="url"> -->
                <!-- <button type="button" class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        data-bs-whatever="@mdo">
                        Ask Qs
            </button> -->
              
            <!-- </div> -->

          
           
        </div>
    </div>