
{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container" id="empList">
    <h2 class="mb-4"> Employee Details</h2>
    {% if tasks %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered align-middle">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Status</th>
                        <th scope="col">Employee</th>
                        <th scope="col">Manager</th>
                    
                        <!-- {% if user.role == 'manager' %}
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                            <th scope="col">Comments</th>
                        {% endif %}
                        {% if user.role == 'employee' %}
                            <th scope="col">Mark as completed</th>
                        {% endif %} -->
                    </tr>
                </thead>
                <tbody>
                    <!-- {% include 'task_app/partial_task_list.html' %} -->
                     {% for task in tasks %}
                     <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.assigned_to.get_full_name|default:task.assigned_to.username }}</td>   
                    <td>{{ task.assigned_by.get_full_name|default:task.assigned_by.username }}</td>
                     </tr>
                     {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
    {% if user.role == 'manager' %}
        <div class="alert alert-warning">No tasks has been in this month.</div>
    {% endif %}
    {% if user.role == 'employee' %}
        <div class="alert alert-warning">No tasks is assigned for {{ user.first_name  }} {{ user.last_name  }}.</div>
    {% endif %}
    {% endif %}
    </div>
{% endblock %}
