{% extends 'base.html' %}
{% load static %}
{% block title %}Create Program{% endblock %}

{% block content %}
<div class="container">
  

    <h4 class="mt-5 mb-4">Tasks List</h4>
     <table class="table table-striped table-bordered wide-table">
      <thead class="table-dark">
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Description</th>
              <th>Assigned to</th>
              <th>Assigned by</th>
              <th>Date of submission</th>
              <th>View Details</th>
              <th>Project</th>
              <th>Status</th>
              <th> Update </th>
              <th>Status</th>
              <th>  </th>
              <!-- <th>{% if status %}Progress Value{% else %}{% endif %}</th> -->
            </tr>
      </thead>
      
      <tbody id="list_of_tasks">
          {% include 'task_app/partials/task_rows.html' %}
      </tbody>
    
     </table>



</div>

{% endblock %}
