{% for task in tasks %}
<tr>
    {% if user.role == 'manager' %}
        {% if task.assigned_by == user  %}
                    <td>{{ forloop.counter }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.assigned_to.get_full_name|default:task.assigned_to.username }}</td>   
                    <td>{{ task.assigned_by.get_full_name|default:task.assigned_by.username }}</td>
                    
                    <td>
                        <button type="button" class="btn btn-warning btn-sm task-edit-btn"
                                data-id="{{ task.id }}"
                                data-title="{{ task.title }}"
                                data-description="{{ task.description }}"
                                data-status="{{ task.status }}"
                                data-assigned_to-id="{{ task.assigned_to.id }}"
                                >Edit</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm task-delete-btn" data-id="{{ task.id }}"> Delete </button>
                    </td>
                    <td>
                        <form  method="POST">
                        {% csrf_token %}
                        <a class="btn btn-primary" href="{% url 'comments' task.id %}" role="button">comment</a>
                        </form>
                    </td>
      
        {% endif %}
    {% elif user.role == 'employee' %}
            {% if task.assigned_to == user %}
                        <td>{{ forloop.counter }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.assigned_to.get_full_name|default:task.assigned_to.username }}</td>   
                    <td>{{ task.assigned_by.get_full_name|default:task.assigned_by.username }}</td>
                    <td>
                         <form  method="POST">
                            {% csrf_token %}
                            <button type="button" id="complete_btn" class="btn btn-success complete_btn"  data-id="{{ task.id }}">
                                    Complete
                            </button>
                         </form>
                    </td>
                    <td>
                         <form  method="POST">
                            {% csrf_token %}
                            <button type="button" id="progress_btn" class="btn btn-danger progress_btn"  data-id="{{ task.id }}">
                                    progress
                            </button>
                         </form>
                    </td>
            {% endif %}
    {% endif %}
</tr>







{% empty %}
<tr>
    <td colspan="6" class="text-center">No tasks available.</td>
</tr>
{% endfor %}


