
{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container" id="projectDetails">
 
    {% if user.role == 'manager' %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding: 50;">
             <a href="{% url 'view_task_form' project_id  %}"><button class="left-btn">Employees</button></a>
            <!-- <button class="btn btn-primary me-md-2" type="button">Employees</button> -->
            <!-- <button class="btn btn-primary" type="button">Button</button> -->
        </div>
        <!-- <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <button class="btn btn-outline-success" type="button">Main button</button>
                <button class="btn btn-sm btn-outline-secondary" type="button">Smaller button</button>
            </form>
        </nav> -->
            <h2 class="mb-4">  <p><strong>Project Title:</strong> {{ title }}</p></h2>
            <p><strong>Manager:</strong> {{ user.first_name }} {{ user.last_name }}</p>
            

            {% if file %}
                <p>
                    <strong>Description:</strong>
                    {{ description|linebreaks }}
                </p>
                <p>
                    <strong>Document:</strong>
                    <a href="{{ file.url }}" download><button type="button" class="btn btn-outline-success">Download Project</button> </a>
                </p>
            {% else %}
                <p>No file uploaded for this project.</p>
            {% endif %}
           <!-- Button section -->
            <!-- <div class="dashboard-header btn-lg"  style="position: relative;     position: relative; left: -600px;">
                <a href="{% url 'view_task_form' project_id  %}"><button class="left-btn">Employees</button></a>
            </div>  -->
      
     <!-- employee's dashboard -->
     {% elif user.role == 'employee' %}
      <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding: 50;">
             <a href="{% url 'view_team_members' project_id  %}"><button class="left-btn">Employees</button></a>
           
    </div>
        
          <h2 class="mb-4">  <p><strong>Project Title:</strong> {{ title }}</p></h2>
         
            
        <!-- project doc file -->
            {% if file %}
                <p>
                    <strong>Description:</strong>
                    {{ description|linebreaks }}
                </p>
                <p>
                    <strong>Document:</strong>
                    <a href="{{ file.url }}" download><button type="button" class="btn btn-outline-success">Download Project</button> </a>
                </p>
            {% else %}
                <p>No file uploaded for this project.</p>
            {% endif %}
           <!-- Button section -->
           
      
        
     {% endif %}  
<!-- end -->
</div>

<div class="dashboard-headerr " style="position: relative;     position: relative; left: 300px;">
    <button type="button" class="btn btn-outline-primary btn-lg "
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            data-bs-whatever="@mdo">
                    Ask Bot
    </button>
    {% include 'chatBot/chat.html' %}
</div> 


{% endblock %}

