



{% extends "base.html" %}
{% load static %}

{% block content %}

{% if user.role == 'manager' %}

<div class="container" id="mnagerList">
    <h2 class="mb-4">List</h2>
    {% for i, j in title %}
        <a href="{% url 'view_project_details' j %}" 
        class="text-decoration-none">
            <div class="container mt-5" id="details">
                <div class="card hover-card" style="width: 20rem; cursor:pointer;">
                    <div class="card-body">
                        <h5 class="card-title">Project Name :</h5>
                        <p class="card-text">{{ i }}</p>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>

{% elif user.role == 'employee' %} 

            <div class="container" id="empList">
                <h2 class="mb-4">List</h2>

                {% for i, j in title %}
                    <a href="{% url 'view_project_details' j %}" class="text-decoration-none">
                    
                        <div class="container mt-5" id="details">
                        
                            <div class="card hover-card" style="width: 20rem; cursor:pointer;">
                                <div class="card-body">
                                    <h5 class="card-title">Project Name :</h5>
                                    <p class="card-text">{{ i }}</p>
                                </div>
                            </div>
                            
                        </div>

                    </a>
                {% endfor %} 
            </div>

{% endif %}
{% endblock %}

