{% extends 'base.html' %}
{% load static %}
{% block title %}Create Program{% endblock %}

{% block content %}
<div class="container">
    <h4 class="mb-4"> Assign Employees Under <p><strong>Project Title:</strong> {{ project.title }}</p></h4>
    <h4 class="mb-4">  <p><strong>Manager :</strong> {{ user.get_full_name }}</p></h4>
        <!-- new form -->
        <div class="container">
          <div class="card shadow">
            <div class="card-header">Add Task</div>

            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                <!-- dropdown for domains -->
                   
                    <br>
                    <!-- employee -->
                    <div class="mb-3">
                      <label for="employee" class="form-label">Employee</label>
                      <!-- <input type="text" class="form-control" name="designation" id="designation" required value="****" onblur="validateUser()" oninput="clearError('designation_error')"> -->
                      <select class="form-select"name="emp_id" id="emp_id">
                        <option value="">****</option>
                        {% for emp in employees %}
                        <option value="{{emp.id}}">{{emp.get_full_name}}({{emp.designation_e}})</option>
                        {% endfor %}
                      </select>
                    </div>
                    <br>
                    <!-- project -->
                    <div class="mb-3">
                      <label for="project" class="form-label">Project</label>
                      <input type="text" class="form-control" name="proj" id="proj" value="{{ project.title }}" readonly>
                      <input type="hidden" class="form-control" name="proj_id" id="proj_id" value="{{ project.id }}" readonly>
                    </div>
                    <br>
                    <!-- manager -->
                    <div class="mb-3">
                      <label for="project" class="form-label">Manager</label>
                      <input type="hidden" class="form-control" name="manager_id" id="manager_id" value="{{ user.id }}" readonly>
                      <input type="text" class="form-control" name="manager" id="manager" value="{{ user.get_full_name }}" readonly>
                    </div>
                    <br>
                    <!-- status -->
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <select class="form-select" name="status" id="status" required>
                        {% for value,stat in status_choices %}
                          <option value="{{ value }}">{{ stat }}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <br>
            
              
                <button type="submit" class="btn btn-success" id="add_emp_btn" >Register</button>
              </form>
            </div>
          </div>
        </div>
      <!-- end form -->
</div>

{% endblock %}
