{% for task in tasks %}
<tr>
    {% if user.role == 'manager' %}
        {% if task.assigned_by == user %}
                    <td>{{ forloop.counter }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    
                    <td>{{ task.assigned_to.get_full_name|default:task.assigned_to.username }}</td>   
                    <td>{{ task.assigned_by.get_full_name|default:task.assigned_by.username }}</td>
                        <td>{{ task.status }}</td>
                    
                    <td>{{ task.end_date }}</td>
                    <td>{{ task.project }}</td>
                    
                    <td>
                        <button type="button" class="btn btn-warning btn-sm task-edit-btn"
                                data-id="{{ task.id }}"
                                data-title="{{ task.title }}"
                                data-description="{{ task.description }}"
                                data-status="{{ task.status }}"
                                data-assigned_to-id="{{ task.assigned_to.id }}"
                        >Edit</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm task-delete-btn" data-id="{{ task.id }}"> Delete </button>
                    </td>
                    <td>
                        <form  method="POST">
                        {% csrf_token %}
                        <a class="btn btn-primary" href="{% url 'comments' task.id %}" role="button">comment</a>
                        </form>
                    </td>
                     <td>
                        <a href="{% url 'view_progress' task.assigned_to.id %}"><button type="button" class="btn btn-danger btn-sm track_prog-btn"> Track Progress </button></a>
                    </td>
      
        {% endif %}
    {% elif user.role == 'employee' %}
            {% if task.assigned_to == user %}
                    <td>{{ forloop.counter }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.assigned_to.get_full_name|default:task.assigned_to.username }}</td>   
                    <td>{{ task.assigned_by.get_full_name|default:task.assigned_by.username }}</td>
                    <td>{{ task.end_date }}</td>
                       <td>
                        <a href="{% url 'view_project_details' task.project.id %}">see details</a>
                    </td>
                    <td>{{ task.project }}</td>
                    <td>{{ task.status }}</td>
                   
                                        
                    <td>
                         <form  method="POST">
                            {% csrf_token %}
                           <button 
                                type="button" 
                                class="btn btn-success complete-btn"
                                data-id="{{ task.id }}"
                                data-status="completed">
                                Completed
                            </button>
                         </form>

                            
                                                                        
                    </td>
                    <td>
                         <form  method="POST">
                            {% csrf_token %}
                             <button type="button" class="btn btn-success progress-btn" data-id="{{ task.id }}" data-status="in_progress">Progress</button>
                         </form>

                       
                    </td>
                    {% if status == 'in_progress' %}
                    <td>
                        <form  method="post">
                            {% csrf_token %}
                            <select class="progress_value form-select form-select-sm" aria-label=".form-select-sm example" name="progress_value" id="progress_value">
                                <option selected>select value</option>
                                <option value="10">0.1</option>
                                <option value="20">0.2</option>
                                <option value="30">0.3</option>
                                <option value="40">0.4</option>
                                <option value="50">0.5</option>
                                <option value="60">0.6</option>
                                <option value="70">0.7</option>
                                <option value="80">0.8</option>
                                <option value="90">0.9</option>
                                <option value="100">1.0</option>
                            </select>
                            <button type="button" class="btn btn-success w-100 mark_btn"  data-id="{{ task.id }}">Submit</button>
                              <!-- Value will show here -->
                             <span id="display_value" style="margin-left:10px; font-weight:bold;"></span>
                        </form>
                    </td>
                    {% endif %}
                 
            {% endif %}
    {% endif %}
</tr>







{% empty %}
<tr>
    <td colspan="6" class="text-center">No tasks available.</td>
</tr>
{% endfor %}


